h1 {
  color: red;
  font-family: sans-serif;
  font-weight: bolder;
}

h2 {
  color: gray;
  font-family: sans-serif;
}

p {
  font-family: serif;
  font-weight: lighter;
}

ul {
  font-size: 15px;
  line-height: 30px;
}

ol {
  font-size: 20px;
  line-height: 35px;
}
